.page-layout {
	display: flex;
	flex-direction: column;
}

.ui.grid.layout-grid {
	align-self: center;
	width: 100%;
	max-width: 1200px;
}

.place-menu-container {
	margin-top: 1em;
}

@media screen and (max-width: 767px) {
  .ui.grid.layout-grid {
    margin: 0;
    padding: 0;
  }

  .ui.grid.layout-grid > .sixteen.wide.mobile.column {
    margin: 0;
    padding: 0;
  }
}
